<div class="card-item col">
    {%- if person.webpage-%}
    <a href="{{ person.webpage }}">
    {%- else -%}
    <a href="#">
    {%- endif -%}
      <div class="card hoverable">
        <div class="row g-0">
          
          <div class="card-img col-sm-3">
            {%- if person.img -%}
                {% include figure.html path=person.img alt="project thumbnail" %}
            {% else %}
                {% include figure.html path="assets/img/person.png" alt="project thumbnail" %}
            {% endif %}
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h3 class="card-title">{{ person.firstname }} {{ person.lastname }}</h3>
              <p class="card-text">{{ person.description | markdownify }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  